name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Configuração Java 21"
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: "Execut ar testes"
        run: mvn -B verify --file pom.xml
  cd:
    needs: ci
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: "Fazeer Checkout"
        uses: actions/checkout@v4

      - name: "Configurar Java 21"
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: "Geração do Jar"
        run: mvn -B package --file pom.xml -DskipTests

      - name: "Upload do Jar para deploy"
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar